*{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    color: black;
}

.titulo {
    text-align: center;
    padding: 5px;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
}