/* Cabeçalho */
header {
    text-align: center;
}

header .menuSuperior {
    background-color: black;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header .menuSuperior li {
    padding: 5px;
    border-radius: 5%;
    background-color: aqua;
}

header .titulo_e_subtitulo {
    text-align: center;
    margin-top: 50px;
    padding: 20px;    
}

body .tabelas {
    display: flex;
    justify-content: space-between;
}

body .status {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    min-width: 50%;
    max-width: 50%;
}

body .modulos {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    min-width: 50%;
    max-width: 50%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

aside {
    border: 2px solid black;
    max-width: 20vw;
    margin-top: 10vw;
    background-color: black;
}

aside img {
    max-width: 100%;
    border-radius: 50%;
}

aside .aboutMe {
    text-align: justify;
}

article {
    max-width: 70vw;
    justify-content: center;
    padding: 15px;
    padding-right: 20;
}


